.users-container {
  h3 {
    margin-top: 0;
  }
}
.user-roles {
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}
.user-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    cursor: pointer;
    margin: 5px 0;
  }
  .fa-trash-o {
    color: red;
  }
  .fa-unlock-alt {
    color: #f08d49;
  }
  .fa-unlock {
    color: #00d6b2;
  }
}