.main-title {
  color: #555250;
  text-transform: uppercase;
  margin: 1rem 0 0;
  font-size: 3rem;
}
.menu-bar {
  box-shadow: none;
  border-bottom: 1px solid #edecec;
  position: relative;
  z-index: 12;
}
.case-icon, .cardflip-icon {
  position: relative;
  transition: .5s;
}
.caseicon-small-opened {
  left: 22.5%;
  width: 47px;
  text-align: center;
}
.cardflipicon-closed, .caseicon-closed {
  float: left;
  left: 0%;
}
.cardflipicon-full-opened {
  float: right;
}
.cardflipicon-small-opened {
  left: 22.5%;
}
.filters-el {
  position: relative;
  transition: 0.5s;
  left: 0%;
  .fa-times {
    cursor: pointer;
    color: #bdbdbd;
    transition: .5s;
    margin-left: -15px;
    &:hover {
      transition: .5s;
      color: #EE5757;
    }
  }
}
.filters-pos {
  left: 22.5%;
}
.active-project {
  margin-left: 20px;
  color: #000;
}
.myactive-project {
  position: absolute;
}
.funnels-container {
  padding: 15px 0 30px;
  display: flex;
  align-items: center;
  text-align: center;
  border-bottom: 4px solid #f5f5f5;
  .fa-times {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #c62828;
    cursor: pointer;
  }
  .search-result {
    text-transform: uppercase;
    font-size: 14px;
    span {
      padding-right: 10px;
      &:after {
        margin-left: 10px;
        content: '/';
        font-weight: bold;
      }
      &:first-child {
        font-size: 18px;
        &:after {
          margin-left: 0px;
          content: '';
        }
      }
      &:last-child {
        &:after {
          margin-left: 0px;
          content: '';
        }
      }
    }
  }
  .funnel-name {
    position: absolute;
    bottom: -25px;
    text-transform: uppercase;
    font-size: 12px;
  }
}

.funnels-container {
  //z-index: 15;
  position: relative;
  background: #fff;
  .funnels {
    display: flex;
    justify-content: flex-start;
  }
  .funnel-element {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    position: relative;
    width: 80px !important;
  }
  .funnel-icon {
    position: absolute;
    //z-index: -1;
    transition: .5s;
  }
  .CircularProgressbar {
    width: 100%;
    cursor: pointer;
  }
  .CircularProgressbar .CircularProgressbar-trail {
    stroke: #d6d6d6;
  }
  .CircularProgressbar .CircularProgressbar-path {
    stroke: #f9a825;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease 0s;
  }
  .CircularProgressbar .CircularProgressbar-text {
    display: none;
  }
}
.nav-wrapper {
  .dropdown-button {
    text-transform: capitalize !important;
    &:hover, &:focus {
      background-color: transparent !important;
    }
  }
  .dropdown-content {
    label {
      text-transform: capitalize;
    }
  }
}
@media (max-width: 1780px) {
  .caseicon-small-opened {
    left: 22.3%
  }
  .cardflipicon-small-opened {
    left: 22.3%
  }
  .filters-pos {
    left: 22.3%
  }
}
@media (max-width: 1500px) {
  .caseicon-small-opened {
    left: 22%
  }
  .cardflipicon-small-opened {
    left: 22%
  }
  .filters-pos {
    left: 22%
  }
}
@media (max-width: 1366px) {
  .caseicon-small-opened {
    left: 28.5%;
  }
  .cardflipicon-small-opened {
    left: 28.5%;
  }
  .filters-pos {
    position: relative;
    left: 28.5%;
  }
}
@media (max-width: 980px) {
  .caseicon-small-opened {
    left: 38.5%;
  }
  .cardflipicon-small-opened {
    left: 38.5%;
  }
  .filters-pos {
    left: 38.5%;
  }
}