.project-container {
  position: relative;
  transition: .5s;
  overflow: hidden;
  z-index: 9;
  height: 85vh;
  padding: 0 40px;
  overflow-y: auto;
  .create-case {
    position: relative;
    align-items: center;
  }
}
.active-project-container {
  top: -85vh;
}
.funnelIsActive {
  top: -71vh;
}
.deactive-project-container {
  top: 5vh;
}
.cases {
  flex-wrap: wrap;
  padding: 10px 0;
  width: 100%;
  margin-bottom: 20px;
  .col.grid-case {
    width: 330px;
    margin: 10px;
    padding: 0;
    position: relative;
  }
  .team-confirmed {
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    a {
      color: #fff;
      padding: 10px 15px;
      margin: 0 10px;
      cursor: pointer;
    }
    .team-accept {
      background: #f9a825;
    }
    .team-cancel {
      background: darkred;
    }
  }
  .case-images {
    width: 100%;
    height: 365px;
    position: relative;
    .full-image {
      width: 100%;
      height: 245px;
      img {
        height: 100%;
      }
    }
    .small-image {
      width: 50%;
      display: inline-block;
      height: 120px;
      img {
        height: 100%;
      }
    }
    img {
      width: 100%;
    }
    .hover-icons {
      position: absolute;
      display: none;
      top: 5px;
      right: 0;
      .btn-flat {
        margin: 10px;
        margin-bottom: 5px;
        color: #dededd;
        border-color: #dededd;
        cursor: pointer;
        z-index: 20;
        padding: 0;
        height: auto;
        &:hover {
          background: transparent;
        }
      }
      .fa-pencil {
        padding-left: 12px;
      }
      .fa-user-plus {
        padding: 5px;
      }
      .fa-user {
        padding: 5px 11px;
      }
      .fa-remove {
        padding: 5px 12px;
      }
    }
    &:hover {
      z-index: auto;
      img {
        filter: brightness(70%);
      }
      .hover-icons {
        display: flex;
        flex-direction: column;
      }
    }
  }
  .case-bottom-elements {
    padding: 15px 10px;
    border-bottom: 2px solid #ebebeb;
    padding-top: 17px;
  }
  .case-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .case-partner {
    display: flex;
    align-items: center;
    .partner-img {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-right: 5px;
    }
  }
  .case-follow-buttons {
    .follow-button {
      margin: 0 5px;
      color: #e7e7e7;
      cursor: pointer;
    }
  }
}
#follow-users {
  .modal-footer {
    position: absolute;
    top: 0;
  }
}