@import "../../../styles/vars";

.dropzone {
  .top-indent {
    margin: {
      top: $indent;
    };
  }
  .relative {
    position: $relative;
    a {
      display: inline-block;
      position: absolute;
      top: 10px;
      right: 20px;
    }
  }
  .uploaded-image {
    width: 200px;
    height:  200px;
  }
}
