.left-sidebar {
  height: 95vh;
  padding-bottom: 1rem;
}

.leading-size {
  font-size: 2rem;
}
.left-sidebar::-webkit-scrollbar {
  width: 9px !important;
}
.left-sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
}