$none: none !default;
$capitalize: capitalize;
$flex: flex;
$relative: relative;
$auto: auto;
$column-direction: column;

$primary: #0069d9;
$primary-border: #0062cc;
$default-grey: #777788;
$secondary: #f9a825;

$basic-radius: 4px;
$indent: 1rem;
$full-percents: 100%;