@import "vars";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.overflow-y {
  overflow-y: auto;
}

.flex {
  display: $flex;
}

.top-padding {
  padding-top: $indent;
}

.left-padding {
  padding-left: $indent;
}

.relative {
  position: $relative;
}

.grey-color {
  color: $default-grey;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary-border;
  &:hover, &:focus, &:active {
    background-color: darken($primary, 10%);
  }
}

.btn-secondary {
  background-color: $secondary;
  &:hover, &:focus, &:active {
    background-color: darken($secondary, 10%);
  }
}

.margin-right {
  margin-right: $indent;
}

.margin-auto {
  margin: $auto;
}

.zero-margin {
  margin: 0;
}

[type=radio].with-gap:checked+label:after,
[type=radio].with-gap:checked+label:before,
[type=radio]:checked+label:after {
  border-color: $primary-border;
}

[type=radio].with-gap:checked+label:after,
[type=radio]:checked+label:after {
  background-color: $primary-border;
}

[type=radio].with-gap:checked+label:after,
[type=radio].with-gap:checked+label:before,
[type=radio]:checked+label:after {
  border-color: $primary-border;
}

[type=checkbox].filled-in:checked+label:after {
  border-color: $primary-border;
  background-color: $primary;
}
.server-status {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  padding: 5px 10px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.success-status {
  color: green;
}

.error-status {
  color: red;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom-color: $primary;
  box-shadow: 0 1px 0 0 $primary;
}

.maximum-height {
  height: $full-percents;
}

.column {
  flex-direction: $column-direction;
}

.flex-end {
  align-self: flex-end;
}