body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.overflow-y {
  overflow-y: auto; }

.flex {
  display: flex; }

.top-padding {
  padding-top: 1rem; }

.left-padding {
  padding-left: 1rem; }

.relative {
  position: relative; }

.grey-color {
  color: #777788; }

.btn-primary {
  background-color: #0069d9;
  border-color: #0062cc; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #0050a6; }

.btn-secondary {
  background-color: #f9a825; }
  .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background-color: #e59006; }

.margin-right {
  margin-right: 1rem; }

.margin-auto {
  margin: auto; }

.zero-margin {
  margin: 0; }

[type=radio].with-gap:checked + label:after,
[type=radio].with-gap:checked + label:before,
[type=radio]:checked + label:after {
  border-color: #0062cc; }

[type=radio].with-gap:checked + label:after,
[type=radio]:checked + label:after {
  background-color: #0062cc; }

[type=radio].with-gap:checked + label:after,
[type=radio].with-gap:checked + label:before,
[type=radio]:checked + label:after {
  border-color: #0062cc; }

[type=checkbox].filled-in:checked + label:after {
  border-color: #0062cc;
  background-color: #0069d9; }

.server-status {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  padding: 5px 10px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px; }

.success-status {
  color: green; }

.error-status {
  color: red; }

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom-color: #0069d9;
  box-shadow: 0 1px 0 0 #0069d9; }

.maximum-height {
  height: 100%; }

.column {
  flex-direction: column; }

.flex-end {
  align-self: flex-end; }
