.admin-tags-container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  .admin-tags-element {
    min-height: 100%;
    display: inline-block;
    width: 300px;
    height: 100vh;
    vertical-align: top;
    border-right: 3px solid #e5e5e5;
    text-align: center;
    overflow-y: auto;
    .admin-tag-element {
      text-align: left;
      .col {
        padding: 5px;
        border-bottom: 2px solid #e5e5e5;
      }
    }
    .collapsible {
      border: none;
      margin-bottom: 0;
      .collapsible-header {
        border: none;
        font-size: 1.64rem;
        line-height: 110%;
        margin: .82rem 0 .656rem 0;
        color: rgba(0,0,0,0.87);
      }
      .collapsible-body {
        padding-top: 0;
      }
    }
  }
  .fixed-action-btn.horizontal ul li {
    margin-top: 0;
  }
  .ReactTags__selected {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .ReactTags__tagInput {
    margin: 0;
    display: block;
  }
  .ReactTags__tagInputField {
    width: 100%;
    text-align: center;
  }
  .suggestions-container {
    position: relative;
    ul {
      width: auto;
    }
  }
  .chip {
    display: block;
    width: 100%;
    padding: 0;
    border-radius: 0;
    margin-bottom: 0;
    margin-right: 0;
  }
  button {
    background: #eea236;
    &:hover, &:focus {
      background: #eea236;
    }
  }
  .btn-edit-tags {
    &:hover, &:focus {
      background: #eea236;
    }
  }
  .btn-edit-group {
    &:hover, &:focus {
      background: #eea236;
    }
  }
  .add-group {
    position: absolute;
    bottom: 30px;
    right: 50%;
  }
}
#tags-move, #tags-remove, #group-control-create, #group-control-remove {
  .modal-footer {
    display: flex;
    justify-content: space-between;
  }
  .remove {
    background: #d43f3a;
    &:hover, &:focus {
      background: #d43f3a;
    }
  }
  .add {
    background: #eea236;
    &:hover, &:focus {
      background: #eea236;
    }
  }
  .close-modal {
    background: #0099ee;
    color: #fff;
    &:hover, &:focus {
      background: #0099ee;
      color: #fff;
    }
  }
}
.tags-control {
  position: absolute;
  left: 30px;
  bottom: 30px;
  button {
    margin: 10px;
  }
}
.group-control {
  position: absolute;
  right: 30px;
  bottom: 30px;
  button {
    margin: 10px;
  }
}
.tags-remove-view {
  font-weight: bold;
  &:after {
    padding: 0 5px 0 0;
    content: ',';
  }
  &:last-child {
    &:after {
      padding: 0;
      content: '';
    }
  }
}
.rename-group {
  display: block;
  margin: 5px auto;
  width: 99%;
}