.list-card {
  width: 100%;
  .list-view {
    width: 100%;
    display: flex;
    padding: 15px 0;
    border-bottom: 2px solid #f5f5f5;
    .table-list {
      display: inline-flex;
      align-content: center;
      align-items: center;
      justify-content: flex-start;
      &:last-child {
        border-right: none;
      }
      img {
        width: 100%;
      }
    }
    .list-number {
      width: 3%;
    }
    .list-image {
      width: 15%;
    }
    .list-name {
      padding: 0 15px;
      width: 15%;
    }
    .list-info {
      padding: 0 15px;
      width: 8%;
      input {
        text-align: center;
      }
    }
    .list-uantity {
      justify-content: center;
    }
    .list-price {
      width: 10%;
      flex-wrap: wrap;
      .s12 {
        margin: 0;
        padding: 0;
      }
      input {
        text-align: center;
      }
    }
    .list-status {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 15px;
      justify-content: center;
      p {
        margin: 0;
      }
    }
    .list-invite {
      width: 9%;
      justify-content: center;
    }
    .list-description {
      justify-content: left;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
.is-list-container {
  width: 100%;
  position: relative;
  .is-list-content {
    width: 100%;
  }
}
.sidebar-full-opened {
  .send-elements-to-email {
    width: 50%;
    float: right;
    .s12 {
      display: flex;
      align-items: flex-end;
    }
    .elements-send {
      margin: 0 10px;
    }
    .input-field {
      margin-top: 0;
      input {
        margin-bottom: 0;
      }
    }
  }
}
.sidebar-small-opened {
  .send-elements-to-email {
    width: 100%;
    .s12 {
      display: inline-block;
      text-align: center;
    }
    .elements-send {
      width: 40%;
      margin: 10px;
      float: none!important;
    }
    .input-field {
      width: 100%!important;
    }
  }
}
.active-case {
  position: relative;
  .grid-card {
    height: auto !important;
  }
}
.pin-item {
  position: absolute;
  top: 5px;
  left: 10px;
}
