@import "../../styles/vars";

.navbar-fixed {
  z-index: 998;
}
.primary-button {
  text-transform: $capitalize;
  &:hover, &:active, &:focus {
    background-color: $primary;
    border: {
      color: $primary-border;
      radius: $basic-radius;
    }

    color: #fff;
  }
}

.default-grey {
  color: $default-grey;
}

.admin-nav-item {
  &.black-text {
    a {
      color: #000;
    }
  }
  &.initial-parent {
    line-height: initial;
    a {

    }
  }
  .admin-title {
    margin: 1rem;
  }
  .active {
    background: #e5e5e5;
  }
  a {
    color: #000;
  }
  .btn-flat:focus, .btn-flat:hover {
    background-color: transparent;
    .material-icons {
      color: #000;
    }
  }
  .material-icons {
    color: #000;
  }
  .user {
    a {
      &:hover {
        background-color: transparent;
      }
    }
  }
  .side-nav .userView {
    padding-bottom: 32px;
  }
}