@import "../../styles/vars";
.card {
    width: 100%;
    height: 300px;
    margin: 0;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
    box-shadow: none;
}
.row .col.grid-card {
    width: 340px;
    height: 333px;
    margin: 10px 10px;
    padding: 0;
    display: inline-block;
    float: none;
    &:hover {
        transition: box-shadow .25s;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.19);
        .card-wrap {
            transition: .5s;
            background: #f5f5f5;
        }
        .card-panel {
            transition: .5s;
            background: #f5f5f5;
        }
    }
    .item-edit-form {
        height: 100%;
        .right {
            text-align: right;
        }
    }
}
.infinite-scroll-component {
    width: 100%;
}
//.infinite-scroll-component::-webkit-scrollbar, .dropdown-content::-webkit-scrollbar {
//    width: 15px !important;
//    left: -10px;
//}
//.infinite-scroll-component::-webkit-scrollbar-thumb, .dropdown-content::-webkit-scrollbar-thumb {
//    border-radius: 10px;
//}
//3bb3c2
.card-content {
    .infinite-scroll-component {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        will-change: inherit !important;
    }
    .fa-pencil {
        color: #000;
        padding-right: 5px;
    }
    .card-wrap {
        .front-menu {
            &:hover {
                span {
                    border-color: #fff;
                }
                i {
                    color: #fff;
                }
            }
            span {
                color: #fff;
            }
            svg {
                path {
                    fill: #fff;
                }
                .shape, line {
                    stroke: #fff;
                }
            }
        }
    }
}
//c94489
.card-content {
    display: none;
    flex-wrap: wrap;
    justify-content: flex-start;
    .card-wrap {
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: 250px;
        z-index: 1;
        perspective: 1000;
        .card-item {
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transition: all .5s linear;
            img {
                width: 100%;
                height: 260px;
            }
        }
        .item-transform {
            transform: rotateY(180deg);
        }
        .front,
        .back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.3s;
            transform: rotateX(0deg);
        }
        .front-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            .item-buttons {
                position: absolute;
                display: flex;
                height: 100%;
                width: 100%;
                justify-content: center;
                align-items: center;
            }
            .item-slider {
                position: absolute;
                right: 5px;
                bottom: 5px;
            }
            &:hover {
                img {
                    filter: brightness(70%);
                }
                span {
                    display: block;
                    border-radius: 50%;
                    border-width: 2px;
                    cursor: pointer;
                }
                i {
                    display: block;
                    bottom: 5px;
                    right: 5px;
                    cursor: pointer;
                }
                .icon-left {
                    left: 63px;
                }
                .icon-right {
                    right: 63px;
                }
                svg {
                    display: block;
                    cursor: pointer;
                }
            }
            span {
                display: none;
            }
            svg {
                display: none;
                .shape, line {
                    stroke-width: 2px;
                }
            }
            i {
                display: none;
            }
        }
        .back {
            transform: rotateY(180deg);
            box-sizing: border-box;
            h2 {
                font-size: 1.56rem;
                margin: 0;
                padding: 45px 15px 10px;
                text-transform: uppercase;
                font-weight: bold;
                word-wrap: break-word;
            }
            .info-wrap {
                padding-top: 20px;
            }
            .back-info {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                padding: 0 15px;
                p {
                    margin: 0;
                }
                a {
                    cursor: pointer;
                    margin-left: 8px;
                    text-decoration: underline;
                }
            }
        }
    }
}
.card-content.products {
    display: inline-flex;
    .card-wrap {
        .front-menu {
            &:hover {
                span {
                    &:hover {
                        border-color: #3bb3c2;
                        color: #3bb3c2;
                    }
                }
                i {
                    &:hover {
                        color: #3bb3c2;
                    }
                }
                svg {
                    color: #3bb3c2;
                }
            }
            svg {
                &:hover {
                    path {
                        fill: #3bb3c2;
                    }
                    .shape, line {
                        stroke: #3bb3c2;
                    }
                }
            }
        }
    }
}
.card-content.models {
    display: inline-flex;
    .card-wrap {
        .front-menu {
            &:hover {
                span {
                    &:hover {
                        border-color: #c94489;
                        color: #c94489;
                    }
                }
                i {
                    &:hover {
                        color: #c94489;
                    }
                }
                svg {
                    color: #c94489;
                }
            }
            svg {
                &:hover {
                    path {
                        fill: #c94489;
                    }
                    .shape, line {
                        stroke: #c94489;
                    }
                }
            }
        }
    }
}
.card-panel {
    padding: 20px 15px 5px;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        cursor: pointer;
    }
    .panel-item {
        display: inline-block;
        margin: 0;
        i {
            font-size: 16px;
        }
        .price {
            font-size: 24px;
        }
        .fa-cube {
            margin-left: 5px;
        }
    }
    //.color-star {
    //    color: $secondary;
    //}
}
// Fancybox Slide
.fancybox-slider {
    position: fixed;
    z-index: 999999;
    background: rgba(0, 0, 0, 0.40);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .fa-times {
        cursor: pointer;
        color: #fff;
        background: #f8c300;
        padding: 8px 10px;
        position: absolute;
        z-index: 999;
        right: 50px;
        top: 140px;
    }
}
.fancybox-slider.active {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.fancybox-slider.deactive {
    display: none;
    transition: .5s;
}
.info-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.color-box {
    width: 12px;
    height: 12px;
    border: 1px solid #000000;
    margin-left: 8px;
}

/* Animation */
@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

/* Variables */
$loader-size: 100px;

/* Loading Icon */
.loading {
    width: $loader-size;
    height: $loader-size;
    position: fixed;
    top: 50%;
    left: 55%;
    z-index: 999999;

    &__ring {
        position: absolute;
        width: $loader-size;
        height: $loader-size;

        &:first-child {
            transform: skew(30deg,20deg);
        }

        &:last-child {
            transform: skew(-30deg,-20deg) scale(-1, 1);

            svg {
                animation-delay: -0.5s;
            }
        }

        svg {
            animation: rotate 1s linear infinite;
            fill: rgba(0, 0, 0, 0.2);
        }
    }
}

/*
* 	Owl Carousel Owl Demo Theme
*	v1.3.2
*/

.owl-theme .owl-controls{
    margin-top: 10px;
    text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
    color: #FFF;
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #869791;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
    min-height: 150px;
    /*background: url(AjaxLoader.gif) no-repeat center center*/
}
.owl-carousel {
    top: 12px;
}
.owl-carousel .owl-stage {
    display: flex;
    justify-content: center;
    align-items: center;
}
.owl-carousel .owl-item img {
    width: 30% !important;
    margin: 0 auto;
}
.no-more-elements {
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 18px;
}
.owl-carousel  {
    .owl-nav {
        div {
            position: absolute;
            top: 45%;
            padding: 10px 15px;
        }
        .owl-next {
            right: 50px;
        }
        .owl-prev {
            left: 50px;
        }
        .fa {
            color: #fff;
            font-size: 4em;
        }
    }
}
.behind {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: zoom-out;
}
.item-image {
    z-index: 2;
    img {
        z-index: 2;
    }
}
.to-project {
    position: fixed;
    z-index: 999;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(225, 225, 225, 0.7);
    margin: 0 auto;
    .behind {
        cursor: default;
    }
    .choose-projects {
        position: relative;
        top: 20%;
        width: 600px;
        height: auto;
        background: #fff;
        padding: 15px;
        z-index: 2;
        border: 1px solid #dedede;
        border-radius: 5px;
        .projects-head {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border: 1px solid #dedede;
            border-radius: 5px;
            margin-bottom: 10px;
            .go-to-projects {
                cursor: pointer;
                .fa-arrow-left {
                    color: #f9a825;
                    padding-left: 10px;
                }
            }
            .heading {
                color: #000;
                text-transform: uppercase;
                font-weight: bold;
            }
            a {
                color: #fff;
                background: #f9a825;
                padding: 4px 8px;
                cursor: pointer;
            }
        }
        .modal-projects {
            margin: 5px 0;
            padding: 0px 10px;
            border: 1px solid #dedede;
            border-radius: 5px;
            display: inline-flex;
            align-items: center;
            background: #f5f5f5;
            cursor: pointer;
            .fa-folder {
                color: #bdbdbd ;
            }
            .fa-folder-open {
                color: #f9a825;
            }
            p {
                margin: 7px;
            }
        }
        .projects-is-active {
            background: #fff;
        }
        .projects-buttons {
            text-align: right;
            padding: 0;
            margin: 5px 0;
            button {
                margin: 5px;
                padding: 7px 20px;
                text-transform: uppercase;
                border: none;
                border-radius: 5px;
                &:hover, &:focus {
                    background: #fff;
                }
            }
            .project-cancel {
                background: #fff;
                border: 1px solid #dedede;
            }
            .project-save {
                background: #f9a825;
                color: #fff;
                &:hover, &:focus {
                    background: #f9a825;
                }
            }
        }
    }
}
@media (max-width: 1366px) {
    .card-content.products {
        .infinite-scroll-component {
            justify-content: space-around;
        }
    }
}