.quantity-loader {
  display: flex;
  align-items: flex-end;
  padding: 10px 10px 5px;
  width: 50%;
  a {
    cursor: pointer;
  }
  .fa {
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
  }
  p {
    padding-left: 15px;
    margin: 0;
    color: #403c39;
    .item-numbers {
      color: #797989;
    }
  }
}
.quantity-loader.left {
  position: relative;
  z-index: 10;
}
.quantity-loader.products {
  .fa {
    color: #3bb3c2;
  }
}
.quantity-loader.models {
  .fa {
    color: #c94489;
  }
}
.right {
  justify-content: flex-end;
  .fa {
    border: none;
  }
}