.App {
  text-align: center;
  &-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  &-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  &-intro {
    font-size: large;
  }
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
body {
  overflow: hidden;
}
.row {
  margin-bottom: 0;
}
::-webkit-scrollbar-thumb{
  background-color: #c1c1c1;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #777;
}
::-webkit-scrollbar-track{
  border-width: 0;
}
::-webkit-scrollbar-track:hover{
  background-color: #f9a825 ;
}
.fa-cube:before {
  font-size: 22px;
}
.follow-user-to-case {
  .fa-share-alt {
    cursor: pointer;
    color: #f8c300;
  }
}