.main-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
}
//.card-content::-webkit-scrollbar, .project-container::-webkit-scrollbar {
//  width: 9px !important;
//}
//.card-content::-webkit-scrollbar-thumb, .project-container::-webkit-scrollbar-thumb {
//  border-radius: 10px;
//}
.card-content {
  overflow-y: auto;
}
.cardflip-container {
  border-left: 47px solid #f5f5f5;
  transition: .5s;
  //z-index: 15;
  background: #fff;
}
.sidebar-container {
  transition: .5s;
}
.cardflip-full-opened {
  width: 100%;
  left: 0%;
  padding-right: 0 !important;
}
.cardflip-small-opened {
  position: relative;
  width: 75%;
  left: 0%;
  padding-right: 0 !important;
}
.cardflip-closed {
  position: relative;
  left: 22px;
  width: 0;
}
.sidebar-full-opened {
  width: 100%;
  left: 20px;
  position: relative;
  padding-right: 0 !important;
  .card-content {
    transition: .5s;
  }
}
.sidebar-small-opened {
  width: 25%;
  left: 0%;
  padding-right: 0 !important;
  .card-content {
    transition: .5s;
    justify-content: flex-start;
    flex-direction: row;
  }
  .is-list-container {
    text-align: center;
  }
}
.sidebar-closed {
  position: relative;
  left: -100%;
  width: 41px;
}
.active-main-container {
  top: 0vh;
  transition: .5s;
}
.deactive-main-container {
  top: -110vh;
  position: relative;
  transition: .5s;
}
@media (max-width: 1366px) {
  .cardflip-small-opened {
    width: 68%;
  }
  .sidebar-small-opened {
    width: 32%;
  }
}
@media (max-width: 1280px) {
  .cardflip-small-opened {
    width: 70%;
  }
  .sidebar-small-opened {
    width: 30%;
  }
}
@media (max-width: 980px) {
  .cardflip-small-opened {
    width: 60%;
  }
  .sidebar-small-opened {
    width: 40%;
  }
}
