.users-container {
  margin: 0px auto;
  padding: 25px 0 0;
  overflow-y: auto;
  .list-container {
    font-weight: bold;
    text-transform: uppercase;
  }
  .remove-from-contact {
    padding: 0;
    color: red;
    &:hover, &:focus {
      background-color: transparent;
    }
    i {
      vertical-align: sub;
    }
  }
  .add-to-contact {
    padding: 0;
    &:hover, &:focus {
      background-color: transparent;
    }
    i {
      vertical-align: sub;
    }
  }
  .user-list {
    padding: 15px .75rem;
    border-bottom: 1px solid #dfdfdf;
  }
}
.case-item {
  margin: 5px 0;
  padding: 0px 10px;
  border: 1px solid #dedede;
  border-radius: 5px;
}