.item-top-bar {
  display: flex;
  align-items: center;
  h1 {
    margin: 0;
    line-height: 0;
    font-size: 2rem;
    sup {
      font-size: 35%;
      top: -2em;
    }
  }
  .item-filter-bar {
    margin-left: 0;
  }
  .item-search-bar {
    margin-right: 0;
  }
}
.admin-items-container {
  overflow-y: auto;
  overflow-x: hidden;
  .fa-free-code-camp {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #EE5757;
    cursor: pointer;
  }
  .item-grid {
    border-top: 1px solid #bababa;
    padding: 15px 0;
    width: 100%;
  }
  .item-grid:last-child {
    border-bottom: 1px solid #bababa;
  }
  .item-image {
    width: 100%;
  }
  h2 {
    margin: 0;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .item-description {
    .item-chip-name {
      font-weight: bold;
      margin-right: 5px;
    }
    .chip {
      .fa-remove {
        cursor: pointer;
        padding-left: 5px;
      }
    }
  }
  .item-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    span {
      margin: 10px 0 5px;
      cursor: pointer;
    }
    .fa-pencil {
      color: #eea236;
    }
    .fa-trash {
      color: #d43f3a;
    }
  }
}
.item-edit-form {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 25px 50px;
  overflow-y: auto;
  .close-edit-form {
    position: absolute;
    right: 15px;
    cursor: pointer;
    top: 15px;
  }
  .edit-tags {
    padding: 3rem .75rem;
  }
  .dropzone {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 .5rem;
    div:first-child {
      margin: 10px;
    }
    .edit-image {
      margin: 10px;
    }
  }
  .ReactTags__tags {
    padding: 0 .75rem;
  }
  .ReactTags__tagInput {
    margin: 10px 0;
  }
  .edit-button-form {
    display: inline-block;
    margin: 0 10px;
  }
  .save-edit-form {
    background-color: #f9a825;
    color: #fff;
  }
  .cancel-edit-form {
    background-color: #ee6e73;
    color: #fff;
  }
}