@import "../../styles/vars";

// Navigation
.head-component.right {
  //height: 70px;
}

.head-component {
  border-bottom: 1px solid #edecec;
  height: 80px;
  position: relative;
  background: #fff;
  z-index: 999;
  .nav-head {
    &:first-child {
      padding: 10px 30px;
      background-color: #fff;
      box-shadow: none;
    }
    .btn-flat {
      text-transform: $none;
    }
  }
  // Logo
  .brand-logo {
    img {
      max-width: 100px;
      //-webkit-filter: grayscale(1); /* Webkit браузеры */
      //filter: gray; /* для IE6-9 */
      //filter: grayscale(1); /* W3C */

    }
  }
  ul {
    a {
      color: #777788;
      &:hover {
        background-color: transparent;
      }
    }
  }
  .user {
    margin-left: 15px;
    a {
      cursor: default;
    }
  }
  .fa-sign-out {
    margin-top: 15px;
    color: #000;
  }
}
.nav-head {
  .btn-flat {
    padding: 0;
    &:hover {
      background-color: transparent;
    }
    .material-icons {
      height: 0;
      line-height: 0;
    }
  }
}
.hide-on-med-and-down {
  .btn-flat {
    &:hover, &:focus {
      background: transparent;
    }
  }
}
.side-nav {
  .userView {
    padding: 1px 32px 0;
  }
}
@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: block !important;
    .user {
      display: none;
    }
  }
}
