@import "../../../styles/vars";

form {
  padding: 1rem;
}

.btn-primary {
  text-transform: $capitalize;
}
/* Example Styles for React Tags*/
div.ReactTags__tags {
  position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
  width: 100%;
  margin: 5px;
  border-radius: 2px;
  display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 25px;
  margin: 0;
  padding: 6px 0;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  cursor: move;
  border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
div.suggestions-container {
  position: absolute;
  z-index: 1;
}
div.suggestions-container ul {
  list-style-type: none;
  box-shadow: .05em .01em .5em rgba(0,0,0,.2);
  background: white;
  width: 200px;
}
div.suggestions-container li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}
div.suggestions-container li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
div.suggestions-container ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}