.ipl-progress-indicator.available {
  opacity: 0;
}
.ipl-progress-indicator {
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 1;
  pointer-events: none;
  -webkit-transition: opacity cubic-bezier(.4, 0, .2, 1) 436ms;
  -moz-transition: opacity cubic-bezier(.4, 0, .2, 1) 436ms;
  transition: opacity cubic-bezier(.4, 0, .2, 1) 436ms;
  z-index: 9999;
}
.insp-logo-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
}
.loading-text {
  display: block;
  font-weight: 300;
  letter-spacing: 0.25em;
  font-size: 28px;
  font-family: sans-serif;
  color: black;
  opacity: 0.3;
  position: relative;
  top: -50px;
}

.results-loading-container {
  width: 100%;
  padding: 30px 0px;
  margin: 0px auto;
  list-style: none;
  text-align: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.results-loading-container .bar {
  width: 35px;
  height: 3px;
  display: inline-block;
  margin: 5px auto;
  border-radius: 2px;
  background: #f9a825;
  -webkit-animation: leftmove 1s infinite ease-in-out;
  animation: leftmove 1s infinite ease-in-out;
  -webkit-animation: rightmove 1s infinite ease-in-out;
  animation: rightmove 1s infinite ease-in-out;
}
.results-loading-container .bar:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.results-loading-container .bar:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.results-loading-container .bar:nth-child(4) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.results-loading-container .bar:nth-child(5) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

@-webkit-keyframes leftmove {
  0% {
    -webkit-transform: translate(30px);
    transform: translate(30px);
    opacity: 0;
  }
  25% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
    background: #f9a825;
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
    opacity: 0;
  }
}

@keyframes leftmove {
  0% {
    -webkit-transform: translate(30px);
    transform: translate(30px);
    opacity: 0;
  }
  25% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
    background: #f9a825;
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
    opacity: 0;
  }
}
@-webkit-keyframes softblink {
  0% {
    -webkit-transform: translate(-5px);
    transform: translate(-5px);
  }
  50% {
    -webkit-transform: translate(5px);
    transform: translate(5px);
  }
  100% {
    -webkit-transform: translate(-5px);
    transform: translate(-5px);
  }
}
@keyframes softblink {
  0% {
    -webkit-transform: translate(-5px);
    transform: translate(-5px);
  }
  50% {
    -webkit-transform: translate(5px);
    transform: translate(5px);
  }
  100% {
    -webkit-transform: translate(-5px);
    transform: translate(-5px);
  }
}
@-webkit-keyframes rightmove {
  0% {
    -webkit-transform: translate(-30px);
    transform: translate(-30px);
    opacity: 0;
  }
  25% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
    background: #f9a825;
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
    opacity: 0;
  }
}
@keyframes rightmove {
  0% {
    -webkit-transform: translate(-30px);
    transform: translate(-30px);
    opacity: 0;
  }
  25% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
    background: #f9a825;
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
    opacity: 0;
  }
}